data/
w2v/
**/*.csv
.create_list_of_subbredits.py
create_list_of_subbredits.py
**/create_list_of_subbredits.py
.ipynb_checkpoints/
.idea/
!/subreddits.csv
.idea/workspace.xml
!**/comments_by_sub.csv
!**/most_common_word.csv
**/hdp_corpus.mm
**/hdp_corpus.mm.index
**/hdp_dictionary.dict
**/texts.txt
**/hdp_model.gensim
**/hdp_model_spacy.gensim
**/hdp_model_spacy.gensim.lda_beta.npy
**/hdp_model_spacy.gensim.m_lambda.npy
**/hdp_model_spacy.gensim.m_Elogbeta.npy
**/*.bin
**/sentences.txt
**/*.txt
**/*.gensim
**/*.npy
**/*.dict
**/*.index
**/*.kv
**/*.csv
**/*.mm
**/*.state
**/*.id2word
**/secrets.json
**/*.sqlite
**/*cleaning
